APP_NAME=
NODE_ENV=
API_URL=http://localhost:8080/api/

# LOCAL
MONGODB_URI=mongodb+srv://ticardban:SOpJmM5jt9xiho6m@axxispay-testes.lpuvn0l.mongodb.net/ContaDigitalDev?retryWrites=true&w=majority

# JWT CONFIG
JWT_SECRET="todo: openssl rand -hex 32"
JWT_EXPIRATION_TIME=60m
